html, body, #root{
  height: 100%;
}
.App {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
          "header header header header"
          "main main main sidebar"
          "footer footer footer footer";
  height: 100%;
}
.App-logo {
  height: 15vmin;
  pointer-events: none;
}